/**
* !here my styllling start.
**/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #fff;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2e2c39;
    color: #ffffff;
    padding: 25px 60px;
    margin-bottom: 20px;
}

.cart {
    position: relative;
    background-color: #fff;
    color: black;
    padding: 5px;
    font-size: 30px;
    border-radius: 6px;
}

.cartAmount {
    font-size: 16px;
    background-color: red;
    color: white;
    position: absolute;
    top: -16px;
    right: -10px;
    padding: 3px;
    border-radius: 4px;

}

/**
* ? shop card style are from here.....
**/
.shop {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 20px;
    justify-content: center;
}

@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 220px);
    }
}
@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 220px);
    }
}

.item {
    border: 1px solid grey;
    border-radius: 5px;
    /* margin: 10px; */
    overflow: hidden;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 20px;
}

.bi-dash {
    color: red;
}

.bi-plus{
    color: green;
}